body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #15232e;
}

.main-heading {
    text-align: center;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    cursor: pointer;
    animation-name: colorchange;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes colorchange {
    from {
        color: white;
    }

    to {
        color: darkorange;
    }

}

.main-container {
    display: flex;
    flex-wrap: wrap;
    width: 2600px;
    margin: 250px 25px;
    padding: 20px;
    border: 10px solid darkgoldenrod;
    border-radius: 50px;
}

.main-container:hover {
    background-color: rgb(19, 59, 45);
}

.container {
    width: 450px;
    border: 4px solid white;
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 70px auto;
    padding: 20px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.img1 {
    width: 100%;
    border-radius: 20px;
    border: 5px solid black;
}

.img2 {
    width: 100%;
    border-radius: 20px;
    border: 5px solid black;
}

.img3 {
    width: 100%;
    border-radius: 20px;
    border: 5px solid black;
}

.img4 {
    width: 100%;
    border-radius: 20px;
    border: 5px solid black;
}

.img5 {
    width: 100%;
    border-radius: 20px;
    border: 5px solid black;
}

.container:hover {
    width: 465px;
    border: 5px solid black;
    color: black;
    background-color: darkgoldenrod;

}